<div class="container">
    <div class="logo">LVSH</div>

    <div id="link">
        <div class="link" (click)="goToHomePage()" >Home</div>
        <div class="link" (click)="goToProductPage()" >Product</div>
        <div class="link" (click)="goToCartPage()">Cart</div>
        <div class="link" (click)="goToContactPage()">Contact</div>


        <div class="link" (click)="goToLoginPage()">Logins</div>

        <div *ngIf="false">Welcome</div>

        <div *ngIf="false" >Logout</div>


    </div>

</div>